<div class=" text-right p-1 ">
  <h2>{{name}} - Class {{class}}</h2>

</div><br><br>
<div class="text-center" *ngIf="mainView">
  <h3>Attempt Assignments</h3>
</div>



<div class="container-fluid" *ngIf="mainView" >
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-hover">
        <tbody>

        <tr class="text-center" *ngFor="let assignmentId of attemptAssignments;">
          <td><button (click)="results(assignmentId)" class="btn">View result of {{assignmentId}}</button>
            <br>
          <button (click)="review(assignmentId)" class="btn btn-primary">reviewAnswer</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="resultView" >
  <div class="row">
    <div class="col-12">
      <button (click)="back()" class=" btn btn-primary">BackToProfile</button>
      <table class="table table-bordered text-center table-hover">
        <thead class="font-weight-bolder">
        <tr>
          <th>Question Number</th>
          <th>Time Spent</th>
          <th>No of Attempt</th>
        </tr>
        </thead>
        <tbody>
        <tr class=" p-3 font-weight-bolder" *ngFor="let result of questionsResults;">
          <td>{{result.qId}} <p *ngIf="result.resultStatus=='right'">&#10004;</p>
            <p *ngIf="result.resultStatus=='wrong'">&#10006;</p>
            <p *ngIf="result.resultStatus=='partial'">&#10004; Partial Answer</p>
          </td>
          <td>{{result.timeSpent}}</td>
          <td>{{result.noOfAttempt}}</td>
        </tr>
        </tbody>
      </table>
      <button (click)="back()" class=" btn btn-primary">Back</button>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="reviewView" >
  <div class="row">
    <div class="col-12">
      <button (click)="back()" class="btn btn-primary">BackToProfile</button>
      <table class="table table-bordered  table-hover">
        <thead class="font-weight-bolder">
        <tr>
          <th>Review Questions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="p-3 font-weight-bolder" *ngFor="let review of questionsReviews;">
          <td><p>{{review.qId}} : {{review.question}}<br>
            {{review.studentAnswer}} your answer is {{review.resultStatus}}</p>
            <p *ngIf="review.resultStatus=='right'">&#10004;</p>
            <p *ngIf="review.resultStatus=='wrong'">&#10006;</p>
            <p *ngIf="review.resultStatus=='partial'">&#10004; Partial Answer</p>
            <p class="text-danger">correct answer : {{review.correctAnswer}}</p></td>
        </tr>
        </tbody>
      </table>
      <button (click)="back()" class="btn btn-primary">Back</button>
    </div>
  </div>
</div>
