<section class="container">
  <div class="row justify-content-center"><br><br>
    <div class="col-5 shadow-lg pt-5 pb-5 mt-3" style="background-color: azure">
      <form [formGroup]="form">
        <div class="form-group  p-3 pr-2 pl-2">
          <label for="userName">UserId</label>
          <input class="form-control" formControlName="userId" id="userName" name="username" type="text">
          <div class="alert bg-danger text-white" *ngIf="!userId.valid && userId.touched">
            <div *ngIf="userId.errors.required">required to fill</div>
            <div *ngIf="userId.errors.minlength">minimum length is 4</div>
          </div>
        </div>
        <div class="form-group  p-3 pr-2 pl-2">
          <label for="passWord">Password</label>
          <input class="form-control" formControlName="password" id="passWord" name="password" type="password">
          <div class="alert bg-danger text-white" *ngIf="!passWord.valid && passWord.touched">
            <div *ngIf="passWord.errors.required">required to fill</div>
            <div *ngIf="passWord.errors.minlength">minimum length is 6</div>
          </div>
        </div>
        <div class="btn-group pl-2">
          <button (click)="login()" class="btn btn-primary">Login</button>
        </div>

        <div class="form-group">
          <br>
          <div class="alert bg-danger text-white" role="alert" *ngIf="!isLogged">
            Login failed: {{ errorMsg }}
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

